@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background: #fffffe;
}

/* Reviews-carousel */
.carousel-indicators li {
  background-color: black;
  margin-bottom: -30px;
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 1px;
  grid-template-areas: ". review review ." ". . . ." ". . . .";
}
.review {
  grid-area: review;
}
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
.review p{
  font-family: 'Flamenco', cursive;
}

/* Edit profile */
.profile-container{
  border: 1px solid beige;
  border-top: none;

  margin-top: 1px;
  padding: 0em 2em 2em 2em;
}
.initials{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(236, 233, 233);
  padding: 30px;
  margin: 0 auto;
}
.password{
  border: none;
  cursor: pointer;
  color: #0d5077;
  font-weight: 600;
}
input::placeholder{
  color: rgb(139, 133, 133) !important;
  font-size: 0.9em;
}

/* Sidebar */
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.sidebar {
  box-shadow: 8px solid #020826;
  width: 250px;
  position: fixed;
  box-shadow: 3px 3px 4px #716040;
  overflow: auto;
  height: 90%;
}
.sidebar a {
  display: block;
  color: #020826;
  text-decoration: none;
  margin: 6px;
  width: 90%;
  line-height: 2em;
  padding: 10px;
}
.sidebar a:hover{
  background-color: #e3f6f5;
}

div.content {
  margin-left: 290px;
  padding: 16px;
  height: 100%;
  color: #272343;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
